<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Listing All Articles</h1>
  
    <% @articles.each do |article| %>
      <div class="row articleCard">
        <div class="articleCardInner">
          <h3><%= article.title %></h3>
          <p class="articleText"><%= truncate(article.description, :lenth => 200) %><p>
          <%= link_to "Show", article_path(article) %> | 
          <%= link_to "Edit", edit_article_path(article) %> | 
          <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>